@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@300;400&display=swap');

body{
    font-family: 'Outfit', sans-serif;
    background-color: whitesmoke;
}
.header_div{
    background-color: rgb(123, 147, 255);
    width:400px;
    padding-top: 20px;
    padding-bottom: 20px;
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;  
}
